# Dependencies
node_modules/

# Build output
dist/
.vercel/

# Environment variables - JANGAN dicommit ke Git
.env
.env.local
.env.production

# Astro generated
.astro/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
